
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin: 2rem 1rem;
  gap: 2rem;
}



.productCard {
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 1px;
  
  padding: 1rem;
  
  width: 20rem;
  
  text-align: center;
}

.productCard img {
  border-style: solid;
  border-color: lightgrey;
  border-radius: 10px;
  border-width: 1px;
  
  width: 100%;
}

.productName {
  font-size: 1.5rem;
  
  margin: 1rem 0;
}

.productPrice {
  font-size: 3rem;
}

.productQty {
  font-size: small;
  color: grey;
}

.buyButton {
  display: block;
  
  border-style: solid;
  border-color: green;
  border-radius: 3px;
  border-width: 1px;
  
  color: green;
  
  width: 12rem;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
}

.buyButton:hover {
  color: white;
  background-color: darkgreen;
}