.entirePage {
  min-height: 100vh;
}


.appbar {
  border: 0;
  border-bottom: 1px;
  border-color: lightgrey;
  border-style: solid;
  
  padding: 1rem;
  
  position: sticky;
  top: 0;
  
  z-index: 99;
  
  background-color: white;
  
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.logo {
  display: flex;
  align-items: center;
  
  color: crimson;
}

.logo:hover {
  color: darkred;
}

.logo img {
  filter: invert(17%) sepia(69%) saturate(4869%) hue-rotate(339deg) brightness(87%) contrast(98%);
}

.logo:hover img {
  filter: invert(4%) sepia(92%) saturate(7500%) hue-rotate(2deg) brightness(120%) contrast(104%);
}



.mainContainer {
  display: flex;
  min-height: 100%;
}


.sidebar {
  padding: 1rem;
  
  width: 200px;
  
  position: fixed;
  
  z-index: 98;
}


.sidebarMenu a {
  display: flex;
  align-items: center;
}

.sidebarMenu a:hover {
  color: red;
}
.sidebarMenu a:hover img {
  filter: invert(46%) sepia(93%) saturate(7481%) hue-rotate(352deg) brightness(96%) contrast(135%);
}

.sidebarMenu li > a > *:last-child {
  padding-left: 0.5rem;
}


.sidebarSeparator {
  width: 1px;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  left: 200px;
  
  height: 100vh;
}


.main {
  width: 100%;
  
  margin: 1rem;
  margin-left: calc(201px + 1rem);
}


.center {
  text-align: center;
}