

.button {
  display: block;
  
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  
  width: 12rem;
  padding: 1rem;
  
  cursor: pointer;
  font: inherit;
  
  background-color: inherit;
}


.blueButton {
  border-color: darkblue;
  color: darkblue;
}
.blueButton:hover {
  background-color: darkblue;
  color: white;
}

.redButton {
  border-color: darkred;
  color: darkred;
}
.redButton:hover {
  background-color: darkred;
  color: white;
}

.greenButton {
  border-color: darkgreen;
  color: darkgreen;
}
.greenButton:hover {
  background-color: darkgreen;
  color: white;
}
  



.center {
  text-align: center;
  margin: auto;
}

.manageButtons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}



.formRow {
  margin: auto;
  max-width: 30rem;
  text-align: right;
  padding-bottom: 0.25rem;
}

.formRow > label {
  padding-right: 0.5rem;
}

.formRow > input {
  width: 60%;
}


